<!--<!DOCTYPE html>-->
<html lang="en">
<head>
<meta charset="utf-8">


<title>Members</title>
    <link href="/AlOmarEA/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/AlOmarEA/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/AlOmarEA/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="/AlOmarEA/assets/css/responsive.css" rel="stylesheet">
    <link href="/AlOmarEA/assets/css/home.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="/AlOmarEA/assets/css/style.css" rel="stylesheet" />
</head>

<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row" id="team">

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
<img src="/AlOmarEA/assets/img/members/EmanAlOmar.png" width="340" height="350" />
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href="https://twitter.com/ECS_Abdullah"><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Eman Abdullah AlOmar</h4>
<span>Assistant Professor</span>
<p>I am an assistent professor at Stevens, interested in Software Engineering and Artificial Intelligence.</p>
</div>
</div>

    <div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
<img src="/AlOmarEA/assets/img/members/HimanshuDagar.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Himanshu Dagar</h4>
<span>Master`s Student</span>
<p>I am in my third year at Stevens, pursuing a Master of Engineering in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/LaurenKibalo.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Lauren Kibalo</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelors of Engineering in Software Engineering.</p>
</div>
</div>

 
<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/BenjaminKnobloch.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Benjamin Knobloch</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, persuing a Bachelors of Engineering in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/DrewCarranti.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Drew Carranti</h4>
<span>Undergraduate Student</span>
<p>I am in my forth year at Stevens, pursuing a Bachelors of Science in Quantitative Finance.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/KateMoss.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Kate Moss</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelors of Science in Quantitative Finance.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/ChiaraHenselder.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Chiara Henselder</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelors of Science in Quantitative Finance.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/ChristopherKalish.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Christopher Kalish</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelors of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/KaylaDePalma.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Kayla DePalma</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelors of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/ThomasKain.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Thomas Kain</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelors of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/IzabelMiminoshvili.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Izabel Miminoshvili</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelors of Science in Cybersecurity.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/JonathanMemoli.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Jonathan Memoli</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelors of Engineering in Software Engineering.</p>
</div>
</div>

 <div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/JosephWeimer.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Joseph Weimer</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelors of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/OlofPersson.jpeg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Olof Persson</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelors of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/OmarElkhafif.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Omar Elkhafif</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelors of Science in Computer Science.</p>
</div>
</div>

</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>