<!--<!DOCTYPE html>-->
<html lang="en">
<head>
<meta charset="utf-8">


<title>team members - Bootdey.com</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="/AlOmarEA/assets/css/style.css" rel="stylesheet" />
</head>

<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row" id="team">

<!--<div class="col-xs-6 col-sm-4">-->
<!--<div class="team-member">-->
<!--<div class="overlay-wrapper2">-->
<!--<img src="/AlOmarEA/assets/img/members/EmanAlOmar.png" width="340" height="350" />-->
<!--<span class="overlay" style="display: none;">-->
<!--<a href=""><i class="fa fa-facebook"></i></a>-->
<!--<a href="https://twitter.com/ECS_Abdullah"><i class="fa fa-twitter"></i></a>-->
<!--<a href=""><i class="fa fa-linkedin"></i></a>-->
<!--</span>-->
<!--</div>-->
<!--<h4>Eman Abdullah AlOmar</h4>-->
<!--<span>Assistant Professor</span>-->
<!--<p>I am an assistent professor at Stevens, interested in Software Engineering and Artificial Intelligence.</p>-->
<!--</div>-->
<!--</div>-->

    <div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
<img src="/AlOmarEA/assets/img/members/HimanshuDagar.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Himanshu Dagar</h4>
<span>Master`s Student</span>
<p>I am in my third year at Stevens, pursuing a Master of Engineering in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/LaurenKibalo.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Lauren Kibalo</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

 
<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/BenjaminKnobloch.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Benjamin Knobloch</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/DrewCarranti.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Drew Carranti</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Quantitative Finance.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/KateMoss.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Kate Moss</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Quantitative Finance.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/ChiaraHenselder.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Chiara Henselder</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Quantitative Finance.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/ChristopherKalish.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Christopher Kalish</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/KaylaDePalma.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Kayla DePalma</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/ThomasKain.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Thomas Kain</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/IzabelMiminoshvili.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Izabel Miminoshvili</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Cybersecurity.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/JonathanMemoli.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Jonathan Memoli</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

 <div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/JosephWeimer.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Joseph Weimer</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/OlofPersson.jpeg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Olof Persson</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelors of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/OmarElkhafif.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Omar Elkhafif</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/img/members/JocelynMo.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Jocelyn Mo</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>



<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/img/members/JamesGrant.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>James Grant</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>


<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/SaikarthikMummadisingu.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Saikarthik Mummadisingu</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/BowenJiang.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Bowen Jiang</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/DylanFaulhaber.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Dylan Faulhaber</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/SarahKorczukowski.jpeg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Sarah Korczukowski</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/KensaySato.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Kensay Sato</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/NeelKulkarni.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Neel Kulkarni</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/AnnanyaJain.JPG" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Annanya Jain</h4>
<span>Undergraduate Student</span>
<p>I am in my third year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/DanicaChakroborty.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Danica Chakroborty</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/JackyLei.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Jacky Lei</h4>
<span>Undergraduate Student</span>
<p>I am in my second year at Stevens, pursuing a Bachelor of Science in Software Engineering.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/CatherineDeMario.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Catherine DeMario</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/KarinaBerberian.JPG" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Karina Berberian</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/CindyTran.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Cindy Tran</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/BrandonKreiser.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Brandon Kreiser</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/RogerShagawat.jpeg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Roger Shagawat</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/SuneedhiLaddha.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Suneedhi Laddha</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/DimitriosHaralampopoulos.jpeg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Dimitrios Haralampopoulos</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/MarkFalletta.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Mark Falletta</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/RobertFeliciano.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Robert Feliciano</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/MatthewAngelakos.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Matthew Angelakos</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/JacobAshkenas.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Jacob Ashkenas</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/CavinGada.png" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Cavin Gada</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/DanielCraig.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Daniel Craig</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/StevenTruong.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Steven Truong</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/AngeloNicosia.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Angelo Nicosia</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/MatthewOyales.jpeg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Matthew Oyales</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>


<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/ConnorPhillips.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Connor Phillips</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

<div class="col-xs-6 col-sm-4">
<div class="team-member">
<div class="overlay-wrapper2">
   
<img src="/AlOmarEA/assets/img/members/RudolphSedlin.jpg" width="340" height="350"/>
<span class="overlay" style="display: none;">
<a href=""><i class="fa fa-facebook"></i></a>
<a href=""><i class="fa fa-twitter"></i></a>
<a href=""><i class="fa fa-linkedin"></i></a>
</span>
</div>
<h4>Rudolph Sedlin</h4>
<span>Undergraduate Student</span>
<p>I am in my fourth year at Stevens, pursuing a Bachelor of Science in Computer Science.</p>
</div>
</div>

</div>
</div>
<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>