<!doctype html>
<html lang="en">

<head>
    <title>Members</title>
    <meta charset="utf-8">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/prettyPhoto.css" rel="stylesheet">
    <link href="./css/responsive.css" rel="stylesheet">
    <link href="./css/home.css" rel="stylesheet">
    <link href="./css/member-style.css" rel="stylesheet" />
</head>

<body class="member">
    <header class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <div class="member-buttons-container">
                    <button class="member-button" onclick="filterMembers('members');">Members</button>
                    <button class="member-button" onclick="filterMembers('profs-postdocs');">Professors</button>
                    <!--<button class="member-button" onclick="filterMembers('profs-postdocs');">Profs, Fellows, and Posdocs</button>-->
                    <!--<button class="member-button" onclick="filterMembers('phd');">PhD Students</button>-->
                    <button class="member-button" onclick="filterMembers('masters');">Master's Students</button>
                    <button class="member-button" onclick="filterMembers('undergrad');">Undergraduate Students</button>
                    <!--<button class="member-button" onclick="filterMembers('visitor-intern');">Visitors and Interns</button>-->
                    <!--<button class="member-button" onclick="filterMembers('alumni');">Alumni</button>-->
                </div>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
                <!-- LOGO -->
                <!--<a class="navbar-brand" href="./index.html"><img class="sail-logo" src="./img/hi_res_logo.png" alt="sail logo"></a>-->
            </div>
            <!-- MENU -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <!--<ul class="nav navbar-nav navbar-right">-->
                   <!--<li><a href="./index.html">Home</a></li>-->
                    <!--<li class="active"><a href="members.html">Members<span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="./publications.html">Publications</a></li>-->
                    <!--<li><a href="./sponsors.html">Sponsors</a></li>-->
                    <!--<li><a href="./contact.html">Contact</a></li>-->
                <!--</ul>-->
            </div>
        </div>
        <!--<div class="color-border"></div>-->
    </header>
    <main style="padding-bottom: 140px;">
        <script type="text/javascript">
            function filterMembers(className) {
                hideMembers();
                var classElements = document.getElementsByClassName(className);
                for (var i = 0; i < classElements.length; i++) {
                    classElements[i].style.display = "inline";
                }
            }

            function hideMembers() {
                var classElements = document.getElementsByClassName('members');
                for (var i = 0; i < classElements.length; i++) {
                    classElements[i].style.display = "none";
                }
            }
        </script>
         <!--<section id="member-category">-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">-->
                <!--<div class="member-buttons-container">-->
                    <!--<button class="member-button" onclick="filterMembers('members');">Members</button>-->
                    <!--<button class="member-button" onclick="filterMembers('profs-postdocs');">Professors</button>-->
                    <!--<!--<button class="member-button" onclick="filterMembers('profs-postdocs');">Profs, Fellows, and Posdocs</button>-->
                    <!--<!--<button class="member-button" onclick="filterMembers('phd');">PhD Students</button>-->
                    <!--<button class="member-button" onclick="filterMembers('masters');">Master's Students</button>-->
                    <!--<button class="member-button" onclick="filterMembers('undergrad');">Undergraduate Students</button>-->
                    <!--<button class="member-button" onclick="filterMembers('visitor-intern');">Visitors and Interns</button>-->
                    <!--<button class="member-button" onclick="filterMembers('alumni');">Alumni</button>-->
                <!--</div>-->
            <!--</div>-->
         <!--</section>-->
        <section id="main-slider" class="no-margin">
            <div class="container">

                <div id="allMembersContainer"></div>

            </div>
        </section>
    </main>
    <div id="footer">
        <!--<div class="bottom-color-border"></div>-->
        <!--<div class="footer-container">
            <h2>SAIL</h2>
            <p>Software Analysis & Intelligence Lab</p>
            <p>School of Computing, Queen's University</p>
        </div>-->
    </div>
    <script type="text/javascript" src=".assets/js/jquery.js"></script>
    <script type="text/javascript" src=".assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src=".assets/data/members.js"></script>
</body>

</html>